cryptography==41.0.0
Flask==2.3.2
Flask-Cors==3.0.10
git+https://github.com/steven-murray/21cmSense

# for wsgi nginx proxying
gunicorn==20.1.0
### Requirements
# project reqs
jsonschema==4.2.1
pytest==6.2.5
redis==4.4.4

# sphinx documentation requirements
sphinx
sphinxcontrib-napoleon
